.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .buttonsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
