.root {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;

  .input {
    input {
      color: #f0edee;
    }

    label {
      color: #f0edee;
    }
  }

  .addButton {
    height: 56px;
    width: 56px;
    border-radius: 10px;
    color: #fff;
    background-color: #9e78cf;

    &:hover {
      background-color: #9e78cf95;
    }
  }

  .disabled {
    background-color: rgba(73, 73, 74, 0.58);
    color: #f0edee;
  }
}
